/*
 * Accessibility section
 * https://github.com/brenonovelli/Accessibility-Settings-Bar
 * https://www.smashingmagazine.com/2015/12/making-accessibility-simpler/
 */

/*
 *   - https://allyjs.io/
 *   - Sliding accessibility panel:
 *       - https://www.cssscript.com/sliding-accessibility-settings-panel/
 *       - https://www.cssscript.com/demo/sliding-accessibility-settings-panel/
 *       - very nice
 *   - CSS modifiers to show unaccessible sections:
 *       - https://www.cssscript.com/page-accessibility-testing/
 *   - Hide inaccessible elements:
 *       - https://www.cssscript.com/hide-elements-accessibility-issues-hidden/
 */

$accessibility-eye-catch: #535353; //#329998;
$accessibility-eye-catch-text: #fff;
$accessibility-contrast-link: #ff0;
$accessibility-contrast-text: #fff;
$accessibility-contrast-background: #000;
$accessibility-reading-line: #f20;
$shadow-strong-color: rgba(34, 34, 34, 0.75);

#accessibilityBar {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 9999;
  position: fixed;
  top: calc(100% - 2rem);
  right: 0;
  transform: translate(100%, -50%);
  background-color: $shadow-strong-color;
  border-radius: 0.5rem 0 0 0.5rem;
}
#accessibilityBar * {
  box-sizing: border-box;
}
#accessibilityBar.active {
  transform: translate(0, -90%);
  box-shadow: 0 5px 30px $shadow-strong-color;
}
#accessibilityBar button {
  outline: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
  cursor: pointer;
}
#accessibilityBar button#universalAccessBtn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  color: $accessibility-eye-catch-text;
  background-color: $accessibility-eye-catch;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 10px 10px 0;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(-128%, -50%);
  cursor: pointer;
}
#accessibilityBar button#universalAccessBtn span {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
  text-align: right;
  font-weight: bold;
  color: $accessibility-eye-catch-text;
  background-color: $accessibility-eye-catch;
  box-shadow: 0 10px 30px $shadow-color;
  height: 100%;
  padding: 0 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 120%;
  transform: translateY(-50%);
}
#accessibilityBar button#universalAccessBtn.collapsed span {
  opacity: 0;
  right: 50%;
}
#accessibilityBar button#universalAccessBtn:hover span {
  opacity: 1;
  right: 120%;
}
#accessibilityBar button.setAccessibility {
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: $text-color-dark;
  font-weight: 700;
  background-color: $accessibility-eye-catch-text;
  width: 100%;
  padding: 0.1rem 0.2rem;
  border-radius: 0.25rem;
  border: none;
  display: flex;
  align-items: center;
  margin: 0.25rem;
}
#accessibilityBar button.setAccessibility:hover {
  background-color: $accessibility-eye-catch-text;
}
#accessibilityBar button.setAccessibility strong {
  color: $accessibility-eye-catch-text;
  background-color: $accessibility-eye-catch;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.25rem;
}
body.contrast #accessibilityBar button[data-accessibility="contrast"] {
  background-color: $accessibility-eye-catch;
}
body.accessibility_readingLine
  #accessibilityBar
  button[data-accessibility="readingLine"] {
  background-color: $accessibility-eye-catch;
  color: $accessibility-contrast-text !important;
}
body.accessibility_readingLine #readingLine {
  background-color: $accessibility-reading-line !important;
  opacity: 1;
  width: 100vw;
  height: 0.5rem;
  position: absolute;
  left: 0;
  z-index: 9999;
  transform: translateY(0.5rem);
}
