/* Footer section */

footer {
    flex-shrink: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 50px;
}

footer p {
    color: $text-color-mid-light !important;
    margin-bottom: 0;
}
