/* Hero section */

#hero {
    min-height: 70vh;
    padding: 50px 0px 50px 0px;
    margin: 0px 0px 50px 0px;
    color: $text-color-light;
    background: transparent;
    background-size: cover;
    background-attachment: fixed;
}

#hero h1 {
    margin-top: 40vh;
    font-size: 6vw;
}
