/* https://www.bram.us/2020/01/10/smooth-scrolling-sticky-scrollspy-navigation/ */

@media only screen and (max-width: 800px) {
  #sidebar {
    display: none;
  }
  .sidebar-removed {
    margin: 0px 20px 0px 20px;
  }
}

.toc-wrapper {
  position: sticky;
  top: 4rem;
  align-self: start;
  margin-left: 30px;
  padding-top: 20px;
  font-size: larger !important;

}

#TableOfContents li.active > a {
  color: $link-color;
  font-weight: 500;
}

#TableOfContents a {
  text-decoration: none;
  display: block;
  padding: 0.125rem 0;
  color: $text-color-dark;
  transition: all 100ms ease-in-out;
}

#TableOfContents ul {
  text-decoration: none;
  list-style-type: none;
}

#TableOfContents ul ul {
  padding-left: 30px;
}
