/* Fonts section */

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/helvetica_neue/Helvetica_Neue.ttf");
}

@font-face {
  font-family: "Bahnschrift";
  src: url("/assets/fonts/bahnschrift/Bahnschrift.ttf");
}

@font-face {
  font-family: "Geomanist";
  src: url("/assets/fonts/geomanist/geomanist.eot") format("embedded-opentype"),
    url("/assets/fonts/geomanist/geomanist.woff") format("woff"),
    url("/assets/fonts/geomanist/geomanist.ttf") format("truetype"),
    url("/assets/fonts/geomanist/geomanist.svg") format("svg");
}
