html, body {
    height: 100%;
}

body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: $text-color-dark;
    background: $background-color;
    position: relative;

    display: flex;
    flex-direction: column;
}

a {
    color: $link-color;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover, a:active {
    color: $link-color-focus;
    outline: none;
}

::-webkit-selection, ::-moz-selection, ::selection {
    background: $selection-color;
}

.subtitle {
    display: block;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: $text-color-mid-dark;
}


.embedded-video {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 90%;
    min-height: 70vh;
}


.slanted-bottom {
    padding-bottom: 100px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}
