/* Header section */

#header {
    padding: 75px 0px 75px 0px;
    margin: 50px 0px 50px 0px;
    color: $text-color-light;
}

.header-divider {
    width: 40%;
    border-top: 3px solid $text-color-light;
}
