#hero {
    /*background-image: url(https://picsum.photos/id/773/1920/1080);*/
    padding-top: 200px;
    padding-bottom: 200px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
