/* Hero section */


#hero {
    padding: 75px 0px 75px 0px;
    margin: 0px 0px 50px 0px;
    color: $text-color-light;
}


.hero-divider {
    width: 40%;
    border-top: 3px solid $text-color-light;
}

.hero-logo {
    max-width: 60%;
    max-height: 40vh;
}
