#hero {
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: 50px;
    color: $text-color-light;

}


.hero-divider {
    width: 40%;
    border-top: 3px solid $text-color-light;
}

.hero-logo {
    max-width: 60%;
    max-height: 40vh;
}
