nav {
    -webkit-box-shadow: 0 0 10px 0 $shadow-color;
    -moz-box-shadow: 0 0 10px 0 $shadow-color;
    -ms-box-shadow: 0 0 10px 0 $shadow-color;
    box-shadow: 0 0 10px 0 $shadow-color;
}


.navbar-brand {
    color: $link-color;
    font-weight: 1000;
}

.navbar-toggler {
    float: right;
}

.nav-link {
    color: $text-color-mid-dark;
}

.dropdown-menu {
    /* Align it with the bottom of the navbar*/
    margin-top: 10px;
}


#scroll-line{
    position: fixed;
    /* This is a bit hacky, but it works */
    z-index: 1;
    height: 3.4em;
    margin-bottom: -2px;
    background-color: $background-color-secondary;
    width: 0%;
}
