@charset "UTF-8";

$text-color-dark: #222;
$text-color-mid-dark: #555;
$text-color-mid-light: #b3b3b3;
$text-color-light: #fff;

$link-color: #329998;
$link-color-focus:#329998;
$selection-color: #a9a9a9;

$background-color: #fff;
$background-color-contrast: #eaeaea;
$background-color-light-border: #f2f2f2;

$background-color-secondary: #329998;
$background-color-secondary-contrast: #6cc99c;
$background-color-tertiary: #535353;
$background-color-tertiary-contrast: #171717;

$loader-blue: #3498db;
$loader-red: #e74c3c;
$loader-yellow: #f9c922;

$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-light-color: rgba(255, 255, 255, 0.7);

.secondary-background-gradient {
    background-color: $background-color-secondary;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, $background-color-secondary), color-stop(1, $background-color-secondary-contrast));
    background-image: -webkit-linear-gradient(top left, $background-color-secondary 0%, $background-color-secondary-contrast 100%);
    background-image: linear-gradient(to bottom right, $background-color-secondary 0%, $background-color-secondary-contrast 100%);
    background-image: -ms-linear-gradient(top left, $background-color-secondary 0%, $background-color-secondary-contrast 100%);
}

.tertiary-background-gradient {
    background-color: $background-color-tertiary;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, $background-color-tertiary), color-stop(1, $background-color-tertiary-contrast));
    background-image: -webkit-linear-gradient(top left, $background-color-tertiary 0%, $background-color-tertiary-contrast 100%);
    background-image: linear-gradient(to bottom right, $background-color-tertiary 0%, $background-color-tertiary-contrast 100%);
    background-image: -ms-linear-gradient(top left, $background-color-tertiary 0%, $background-color-tertiary-contrast 100%);
}
