@charset "UTF-8";

/* Colours */

$text-color-dark: #222;
$text-color-light: #fff;
$text-color-mid-dark: #555;
$text-color-mid-light: #b3b3b3; // Remove this from team outline
$text-color-contrast: #005700;
$text-color-neon: #42ea67;

$link-color: #005700;
$selection-color: #a9a9a9;
$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-color-light: rgba(255, 255, 255, 0.7);

$background-color: #fff;
$background-color-contrast: #eaeaea; // Remove this from timeline
$background-colour-black: #000;
$background-color-green: #ebffdd;
$background-color-green-contrast: #c1ff9b; //For timeline

$background-colour-very-dark: #000; //#111;

$background-color-dark: #535353;
$background-color-dark-contrast: #171717;
.tertiary-background-gradient {
    background-color: $background-color-dark;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, $background-color-dark), color-stop(1, $background-color-dark-contrast));
    background-image: -webkit-linear-gradient(top left, $background-color-dark 0%, $background-color-dark-contrast 100%);
    background-image: linear-gradient(to bottom right, $background-color-dark 0%, $background-color-dark-contrast 100%);
    background-image: -ms-linear-gradient(top left, $background-color-dark 0%, $background-color-dark-contrast 100%);
}



/* Heights */

$homepage-splash-overflow-height: 90vh;
$homepage-splash-overflow-width: 1000px;


/*
Jerry's colours

Side bar color - #ebffdd    (same loading bar)
Green circle color - #005700 (SAME FOR LINKS)
Timeline circle color (middle bit) #c1ff9b // outer is dark

Old, don't use: #42ea67

*/
