<section id="about" class="slanted-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="subtitle">
                    {{ with .Site.Data.home.about.title }}{{ . | markdownify }}{{ end }}
                </h2>
                <h3 class="subtitle-text">
                    {{ with .Site.Data.home.about.description }}{{ . | markdownify }}{{ end }}
                </h3>
            </div>
        </div>
        <div class="row" style="padding: 0px 10px 10px 0px;">
        {{ range .Site.Data.home.about.item }}
            <div class="col-md-4">
                <div class="about-person text-center">
                    <figure><img src="images/{{ .img }}" alt="{{ .alt }}"></figure>
                    <h3>{{ .name | markdownify }}</h3>
                    <span class="person-position">{{ .position | markdownify }}</span>
                    <!-- <p>{{ .description | markdownify }}</p> -->
                </div>
            </div>
        {{ end }}
        </div>
    </div>
</section>
