<section id="accessibility">

<!--
    - https://allyjs.io/
    - Sliding accessibility panel:
        - https://www.cssscript.com/sliding-accessibility-settings-panel/
        - https://www.cssscript.com/demo/sliding-accessibility-settings-panel/
        - very nice
    - CSS modifiers to show unaccessible sections:
        - https://www.cssscript.com/page-accessibility-testing/
    - Hide inaccessible elements:
        - https://www.cssscript.com/hide-elements-accessibility-issues-hidden/
-->

</section>
