<footer id="footer" class="tertiary-background-gradient" role="contentinfo"> <!-- slanted-top -->
    <div class="container">

        <span id="footer-top-separator"></span>

        <!-- Contact information and sponsors -->
        <div id="footer-info">

                <!-- Sponsors -->
                <div id="sponsor-logos">
                    <img src="/assets/images/placeholder.jpg" alt="Sponsors">
                </div>


                <!-- Contact information-->
                <div id="contact-info">
                    <div class="row">
                        <div class="col">
                            <a href="{{ .Site.Params.footer.twitter_url }}" class="icon-button twitter">
                                <i class="fab fa-twitter"></i><span></span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="{{ .Site.Params.footer.facebook_url }}" class="icon-button facebook">
                                <i class="fab fa-facebook"></i><span></span>
                            </a>
                        </div>

                        <div class="col">
                            <a href="{{ .Site.Params.footer.instagram_url }}" class="icon-button instagram">
                                <i class="fab fa-instagram"></i><span></span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="{{ .Site.Params.footer.email_address }}" class="icon-button email">
                                <i class="fa fa-envelope"></i><span></span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="{{ .Site.Params.footer.home_url }}" class="icon-button home">
                                <i class="fa fa-home"></i><span></span>
                            </a>
                        </div>
                </div>
            </div>


        </div>

        <div id="footer-navigation">
            <div class="row">

                {{ range .Site.Menus.main }}
                <div class="col">
                    <h3><a href="{{ .URL }}"></a>{{ .Name | upper }}</a></h3>
                    {{ if .HasChildren }}
                    <!-- If the cell has make a list of them below it -->
                    <ul>
                        {{ range .Children }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
                {{ end }}

            </div>
        </div>

        <!-- Licensing information for the website-->
        <div id="licensing">
            <div class="row">
                <div class="col-sm">
                    {{ .Site.Params.footer.copyright | safeHTML }}
                </div>
                <div class="col-sm">
                    {{ .Site.Params.footer.content_license | safeHTML }}
                </div>
                <div class="col-sm">
                    {{ .Site.Params.footer.theme_license | safeHTML }}
                </div>
            </div>
        </div>
    </div>
</footer>
