    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Description of author from config.toml -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}
    <title>
        {{ .Title }}
    </title>

    <!-- Include favicon and fonts -->
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link href='https://fonts.googleapis.comcss?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='textcss'>

    <!-- Load stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/simple-line-icons.css">

    {{ $options := (dict "targetPath" "css/styles.css") }}
    {{ $scss := resources.Get "scss/main.scss" }}
    {{ $style := $scss | resources.ToCSS $options }} <!--| resources.Minify }}-->
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">
    {{ range .Site.Params.custom_css }}
        <link rel="stylesheet" type="text/css" href="{{ . }}">
    {{ end }}


    <!--
	- count to
	- easing
	- magnific popup
    -->


    <!-- Load javascript -->
    <script src="/js/jquery.min.js" defer></script>
	<script src="/js/popper.min.js" defer></script>
	<script src="/js/bootstrap.min.js" defer></script>
	<script src="/js/respond.min.js" defer></script>

    <script src="/js/main.js" defer></script>
    {{ range .Site.Params.custom_js }}
        <script src="{{ . }}" defer></script>
    {{ end }}
