<section id="intro" class="slanted-bottom">
    <div class="container">
        {{ if .Site.Data.home.intro.video.enable }}
        <div class="watch-video text-center">

            <h2 class="subtitle">{{.Site.Data.home.intro.video.title | markdownify }}</h2>

            <iframe
                width="100%" height="100%"
                class="embedded-video"
                src="{{ .Site.Data.home.intro.video.url }}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>

        </div>
        {{ end }}
    </div>
</section>
