<section id="intro" class="slanted-bottom">
    <div class="container">

        <div class="row row-bottom-padded-lg">
            {{ range .Site.Data.home.intro.item }}
            <div class="intro-background to-animate">
                <div class="overlay-darker tertiary-background-gradient"></div>
                <div class="overlay"></div>
                <div class="intro-text">
                    <i class="intro-icon {{ .icon }}"></i>
                    <h2>{{ .title }}</h2>
                    <p>{{ .description }}</p>
                    {{ if .button}}
                        <p><a href="{{ .url }}" class="btn btn-primary">{{ .button}}</a></p>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>


        <div class="watch-video text-center">

            <h2 class="subtitle">{{.Site.Data.home.intro.video.title | markdownify }}</h2>

            <!-- TODO: Change this to be a local video -->
            <iframe
                width="100%" height="100%"
                class="embedded-video"
                src="{{ .Site.Data.home.intro.video.url }}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>

        </div>
    </div>
</section>
