<div id="loader-wrapper">
    <div id="loader">
        <!-- Starry background -->
        <div class="starts-wrapper">
            <div class='stars-small'></div>
            <div class='stars-big'></div>
        </div>

        <!-- Moon centerpeice -->
        <div class="moon-wrapper">
            <div class="moon">
                <div class="disc"></div>
            </div>
        </div>

        <!-- Loading message -->
        <p id="loadingMessage" style="display: none;"></p>
        <script>
            var messages = [
                "Generating witty dialog...",
                "...and enjoy the elevator music...",
                "Go ahead -- hold your breath!",
                "...at least you're not on hold...",
                "It's still faster than you could draw it",
                "My other loading screen is much faster.",
                "Are we there yet?",
                "Just count to 10",
                "Don't panic...",
                "Warning: Don't set yourself on fire.",
                "Creating time-loop inversion field",
                "Spinning the wheel of fortune...",
                "I'm sorry Dave, I can't do that.",
                "I feel like im supposed to be loading something...",
                "I swear it's almost done.",
                "Let's take a mindfulness minute...",
                "Cleaning off the cobwebs...",
                "Making sure all the i's have dots...",
                "Granting wishes...",
                "Time flies when you’re having fun.",
                "Get some coffee and come back in ten minutes...",
                "You shall not pass! yet...",
                "Your left thumb points to the right and your right thumb points to the left.",
                "How did you get here?",
                "Computing the secret to life, the universe, and everything.",
                "Hello IT, have you tried turning it off and on again?",
                "Hello, IT... Have you tried forcing an unexpected reboot?",
                "Didn't know paint dried so quickly.",
                "Twiddling thumbs...",
                "Looking for sense of humour, please hold on.",
                "A different error message? Finally, some progress!",
                "Distracted by cat gifs",
                "Whatever you do, don't look behind you...",
                "Please wait... Consulting the manual...",
                "Loading funny message...",
                "Feel free to spin in your chair",
                "Help, I'm trapped in a loader!",
                "Never let a computer know you're in a hurry.",
                "Reading Terms and Conditions for you.",
                "Discovering new ways of making you wait...",
                "Your time is very important to us. Please wait while we ignore you...",
                "TODO: Insert elevator music",
                "We're working very Hard .... Really",
                "Two blood cells met and fell in love. Sadly, it was all in vein.",
                "Ants never get sick. They have little anty bodies",
                "I wish I was adenine, then I could get paired with U.",
                "What did Gregor Mendel say when he founded genetics? Woopea!",
                "Did you hear about the man who got cooled to absolute zero? He’s 0K now.",
                "I had to make these bad chemistry jokes because all the good ones Argon.",
                "If I go to jail, my nickname would be mitochondria so I’m the powerhouse of the cell",
                "When plants are sad, they photosympathise with each other.",
                "Cows have hooves instead of feet, because they lactose",
                "It’s going tibia okay.",
                "Why did the germ cross the microscope? To get to the other slide.",
                "What do you call an acid with an attitude? An a-mean-oh-acid",
                "A dog and a marine biologist are quite similar. One wags a tail and the other tags a whale."
            ];
            // Randomly select a message, then show it
            var message = messages[Math.floor(Math.random() * messages.length)];
            document.getElementById("loadingMessage").innerHTML = message;
            document.getElementById("loadingMessage").style = "display: block;"
        </script>
    </div>
</div>
