<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" .}}
    </head>
    <body>
        {{ partial "nav.html" .}}

        <section id="header" class="secondary-background-gradient slanted-bottom">
            <div class="container text-center">
                <h1>404: Page not found</h1>
                <div class="col-lg-9 mx-auto">
                    <hr class="header-divider">
                    <h3>
                        Try going back home, or to a different url
                    </h3>
                </div>
            </div>
        </section>


        {{ partial "footer.html" .}}

    </body>
</html>
