<!DOCTYPE html>
<html>

<head>
    {{ partial "head.html" .}}
</head>

<body>
    {{ partial "loader.html" .}}
    {{ partial "nav.html" .}}

    <div class="content-wrapper">

        <!-- Main splash page -->
        <section id="homepage-hero" class="secondary-background-gradient">
            <div class="row">
                <div id="homepage-hero-text" class="col-6">
                    <h3>Fluorescent detection system for CRE</h3>
                    <h1>CREscent to the moon</h1>
                    <p>
                        CREscent is our team's solution to combar CRE/CPE
                        outbreaks in hospitals. It aims to be fast and efficient
                        so that outbreaks can be prevented in advance.
                    </p>
                </div>
                <div class="col-6 text-center" style="margin: auto; top: 50%;">
                    <img class="homepage-hero-logo" src="{{ .Site.Params.hero.img }}" alt="The site logo">
                </div>
            </div>
        </section>

        <!-- Content on the homepage -->
        <section id="homepage-content-wrapper">

        </section>

    </div>

    {{ partial "footer.html" .}}

</body>

</html>
