
<!DOCTYPE html>

<html>


    <head>
        {{ partial "head.html" .}}
    </head>
    <body>

    {{ partial "open_igem.html" .}}
    {{ partial "loader.html" .}}
    {{ partial "nav.html" .}}

    <section id="homepage" class="content-wrapper" style="padding-bottom: 0 !important;">

        <!-- Main splash page -->
        <section id="homepage-hero">
            <div class="row">
                <div id="homepage-hero-text" class="col-5">
                    {{ with .Site.Params.hero.subtitle }}
                    <h3>{{ . | markdownify }}</h3>
                    {{ end }}
                    {{ with .Site.Params.hero.title }}
                    <h1>{{ . | markdownify }}</h1>
                    {{ end }}
                    {{ with .Site.Params.hero.summary }}
                    <p>{{ . | markdownify }}</p>
                    {{ end }}
                </div>
                <span class="col-7 text-center"></span>
            </div>
        </section>



        <!-- Content on the homepage -->
        <section id="homepage-content-wrapper">


            <!-- https://pixelcog.github.io/parallax.js/ -->
            <div class="parallax-window" data-parallax="scroll"
                data-image-src="https://picsum.photos/seed/9001/1920/720">
                <div class="container">
                    <h1 class="subtitle">{{.Site.Data.home.intro.video.title | markdownify }}</h1>
                    <video class="homepage-video" width="100%" height="100%" controls>
                        <source src="{{ .Site.Data.home.intro.video.url }}" type="video/mp4">
                    </video>
                </div>
            </div>

            <div class="parallax-window" data-parallax="scroll"
                data-image-src="https://picsum.photos/seed/9002/1920/720">
                <div class="container content-page">
                    <h1>Awards</h1>
                    <p>
                        We've worked incredibly hard for the past year to make
                        our project as good as it can be - spending countless
                        hours and meeting many amazing people in the process -
                        so we are excited for the iGEM judges to see (and
                        hopefully like) our work.
                    </p>
                    <p>
                        We will update this section when medals and awards have
                        been announced, and are hoping for the best!
                    </p>
                </div>
            </div>
            <div class="parallax-window" data-parallax="scroll"
                data-image-src="https://picsum.photos/seed/9003/1920/720"></div>
            <div class="parallax-window" data-parallax="scroll"
                data-image-src="https://picsum.photos/seed/9004/1920/720"></div>


        </section>

    </section>

    {{ partial "footer.html" .}}
    {{ partial "close_igem.html" .}}

    </body>


</html>
