<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" .}}
    </head>
    <body>
        {{ partial "nav.html" .}}
        {{ .Scratch.Set "height" "tall" }}
		{{ partial "hero.html" . }}

        <!--
        <div>
            Short Description of {{.Site.Data.home.Name}}:
            <p>{{ index .Site.Data.home "Short Description" | markdownify }}</p>
        </div>
        -->

        {{ partial "intro.html" .}}
        {{ partial "services.html" .}}
        {{ partial "about.html" .}}
        {{ partial "counters.html" .}}
        {{ partial "contact.html" .}}

        {{ if .Site.Params.footer.enable }}
        	{{ partial "footer.html" .}}
        {{ end }}

    </body>
</html>
