/* About section */

.about-person {
	border: 2px solid $background-color-light-border;
	padding: 80px 30px 30px 30px;
	float: left;
	width: 100%;
	position: relative;
	margin-top: 100px;
}

.about-person figure {
	position: absolute;
	margin-top: -60px;
	top: 0;
	left: 50%;
	margin-left: -60px;
	display: block;
	margin-bottom: 50px;
}

.about-person figure img {
	width: 120px;
	border: 2px solid $background-color-light-border;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.about-person h3 {
	margin-bottom: 0px;
}

.about-person .person-position {
	color: $text-color-mid-light;
	display: block;
	margin-bottom: 20px;
}
