.read_more_small {
    height: 4em;
    overflow: hidden !important;
}

.read_more_big {
    height: auto;
}

.read_more a {
    float: right;
}

.read_more {
    margin-bottom: 2em;
}
