/* About section */

.person-wrapper {
  position: relative;
}

.person-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

.person-photo {
  float: left;
  max-width: 150px;
}

.person-photo img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.person-description {
  float: right;
  width: calc(100% - 150px);
  padding-left: 25px;
}

.person-description .person-position {
  color: $text-color-mid-light;
  display: block;
  margin-bottom: 20px;
}

@media only screen and (max-width: 750px) {
  .person-description {
    float: left !important;
    width: 100%;
    padding-left: 0;
  }
}

/*
.about-person {
    outline: 2px solid $text-color-mid-light;
    outline-offset: -10px;

	padding: 80px 30px 30px 30px;
	float: left;
	width: 100%;
	position: relative;
	margin-top: 80px;
}

.about-person figure {
	position: absolute;
	margin-top: -60px;
	top: 0;
	left: 50%;
	margin-left: -60px;
	display: block;
	margin-bottom: 50px;
}

.about-person figure img {
	width: 120px;
	border: inset 2px solid $text-color-mid-light;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.about-person h3 {
	margin-bottom: 0px;
}

.about-person .person-position {
	color: $text-color-mid-light;
	display: block;
	margin-bottom: 20px;
}
*/
