<section id="about" class="slanted-bottom">
    <div class="container">
        <div class="row" style="padding: 0px 10px 10px 0px;">
        {{ range .Site.Data.team.people.item }}
                <div class="col-md-4 about-person text-center">
                    <figure><img src="{{ .img }}" alt="{{ .alt }}"></figure>
                    <h3>{{ .name | markdownify }}</h3>
                    <span class="person-position">{{ .position | markdownify }}</span>
                    <p>{{ .description | markdownify }}</p>
                </div>
        {{ end }}
        </div>
    </div>
</section>
