<div class="container">
    <div class="content-page">
        <h2 id="summary">Summary</h2>
        As a team, we've put a huge amount of work into our project, and are
        genuinely proud of what we've managed to acheive, despite the
        limitations of the pandemic making meeting and collaboration that much
        harder. We are incredibly happy that our hard work was recognised by
        both a Gold medal and a nomination for the modelling special prize.
    </div>
</div>

<div class="container">
    <!-- Gold medal section -->
    <div class="content-page">
        <div class="person-wrapper">
            <div class="person-photo">
                <img src="/assets/content/awards/gold.png" alt="Gold medal icon" style="height: 20vh;">
            </div>
            <div class="person-description">
                <h3>Gold medal</h3>
                <p>
                    We are delighted that our project was judged to have met
                    the standard for an iGEM gold medal. You can read more about
                    <a href="https://2021.igem.org/Team:Warwick/Medal_Critera">
                    our medal criteria here</a> to get a more in depth view of
                    how we approached and distributed work within our project.
                    <br><br>
                    <a href="https://jamboree.igem.org/results/medals">
                        Click here to see the iGEM medals page
                    </a>
                </p>
            </div>
        </div>
    </div>

    <!-- Model nomination section -->
    <div class="content-page">
        <div class="person-wrapper">
            <div class="person-photo">
                <img src="/assets/content/awards/model.svg" alt="Model icon" style="height: 20vh;">
            </div>
            <div class="person-description">
                <h3>Modelling nomination</h3>
                <p>
                    We are incredibly happy that our hard work in the design and
                    implementation of <a href="https://2021.igem.org/Team:Warwick/Model">
                    our computational model</a>, paid off in the form of a
                    nomination for the modelling special prize. Whilst we did
                    not win this category, it is still a great acheivement to be
                    in the top eight of three hundred and twenty teams for this
                    aspect of iGEM.
                    <br><br>
                    <a href="https://jamboree.igem.org/results/specials/model">
                        Click here to see the iGEM model special prize section
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
