<div class="container">

    {{ $split_data := split .Inner "+++" }}
    {{ $image_data := split (index $split_data 1) ", " }}
    {{ $image_src := index $image_data 0 }}
    {{ $image_alt := index $image_data 1 }}
    {{ $content := index $split_data 2 }}

    <div class="row sideTextPhoto">
        <div class="col-md-4 col-lg">
            {{ markdownify $content }}
        </div>
        <div class="col-md-8 col-lg">
            <img class="sideTextPhoto" src="{{ $image_src | safeHTML }}" alt="{{ $image_alt | safeHTML }}">
        </div>
    </div>

</div>
