<div class="timeline">
    {{ $split_data := split .Inner "***" }}
    {{ range $index, $element := $split_data }}
        {{ if (ne $element "") }}
            {{ $split_events := split . "+++" }}
            <div class="timeline-container {{if not (modBool $index 2) }}right{{ else }}left{{ end }}">
                <div class="timeline-content">
                    <h2>{{- index $split_events 0 -}} - {{- index $split_events 1 -}}</h2>
                    <p>{{ index $split_events 2 | markdownify }}</p>
                </div>
            </div>
        {{ end }}
    {{ end }}
    </div>
  </div>
