/* Homepage custom styles */

#homepage-hero {
  height: 100vh;
  //cut off some (~170px) from the right, so the start of the logo is closer to
  //the right edge
  background-image: url("/assets/images/homepage_splash_background.gif");

  // Make sure the logo stays on screen when scaled
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: $homepage-splash-overflow-width),
    screen and (max-height: $homepage-splash-overflow-height) {
    // Make this taller, but keeping the same width, so it will just have extra
    // bits (200+ pxs) at the top and bottom continuing on from the image
    background-image: url("/assets/images/homepage_splash_background_cropped.gif");
    background-position: center center;
  }
}

#homepage-hero > .row {
  position: relative;
  top: 25%;
}

#homepage-hero-text {
  padding-left: 10vw;
  color: $text-color-light;

  // TODO: Fix this animation happening underneath loader

  animation: fadeInLeft;
  animation-duration: 2s;

  @media screen and (max-width: $homepage-splash-overflow-width),
    screen and (max-height: $homepage-splash-overflow-height) {
    display: none;
  }
}

#homepage-hero-text h3 {
  color: $text-color-neon;
  font-weight: 1000;
  font-size: 1.4vw;
}

#homepage-hero-text h1 {
  font-size: 6vw;
  font-weight: 1000;
}

#homepage-hero-text p {
  font-family: "Bahnschrift", sans-serif !important;
  color: $text-color-light !important;
}

.homepage-parallax-window {
  background: transparent;
  height: auto;
  padding: 30px;
}

.homepage-content {
  overflow-wrap: break-word;
  background-color: $background-color;
  box-shadow: 0 0 10px $shadow-color-light;
  border-radius: 3px;
  padding: 20px;
}

.homepage-content ul {
  padding-left: 50px;
}

@media only screen and (min-width: 1000px) {
  .homepage-content-left {
    max-width: 35vw;
    margin: 100px auto 100px 5vw !important;
  }
  .homepage-content-right {
    max-width: 35vw;
    margin: 100px 5vw 100px auto !important;
  }
  .homepage-content-center {
    max-width: 50vw;
    margin: 100px auto 100px auto !important;
  }
}
